:root {
  --main-color: black;
  --secondary-color: white;
  --background-color: #f0f0f0;
  --text-color: #333;
  --button-color: #726cf8;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.todo-container {
  width: 600px;
  background-color: var(--secondary-color);
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todo-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.todo-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-search {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.todo-dropdown,
#todo-darkmode,
.todo-edit,
.todo-delete,
.todo-add {
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.todo-dropdown option {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.todo-new-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.todo-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.todo-edit {
  background-color: #4caf50;
}

.todo-delete {
  background-color: #f44336;
}

.todo-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color);
}
